# AI API Key
HC_AI_API_KEY=your_api_key_here

# Your UUID. Don't put anyone else's in here unless you want them to be admin, why would you
OWNER_UUID=your_slack_id
# Bot User oauth token
SLACK_BOT_TOKEN=your_bot_token here
# Slack (Selfbot) User oauth token.
SLACK_USER_TOKEN=your_user_token here
# App-Level Token
SLACK_APP_TOKEN=your_app_token_here